<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>KURS THYMELEAF</h1>
<p>Hello World!</p>
<!--<p th:text="${name}"></p>-->
<!--<p th:text="${car.getMark()}"></p>-->
<!--<p th:text="${car.getModel()}"></p>-->

<tr th:each="car,iterStat : ${cars}">
    <td th:text="${car.getMark()}"/><br>
    <td th:text="${car.getModel()}"/><br>
    <br/>
    <a th:href="@{/car/delete/{index}(index=${iterStat.index})}">Usuń</a>
    <a th:href="@{/car/edit/{index}(index=${iterStat.index})}">Edit</a>
    <p>=================</p>
</tr>
<form th:action="@{/add-car}" th:object="${newCar}" method="post">
    <p>Model:<input th:type="text" th:field="*{model}"></p>
    <p>Mark:<input th:type="text" th:field="*{mark}"></p>
    <p><input type="submit" value="Add car"></p>
</form>
</body>
</html>